################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Flydekasse2017/v15/Server/sqlite3/storage.ide-wal
/.vs/Flydekasse2017/v15/Server/sqlite3/storage.ide-shm
/.vs/Flydekasse2017/v15/Server/sqlite3/storage.ide
/.vs/Flydekasse2017/v15/Server/sqlite3/db.lock
/.vs/Flydekasse2017/v15/Server/sqlite3
/.vs/Flydekasse2017/v15/.suo
/.vs/Flydekasse2017/v15
